/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family:Roboto,sans-serif;
  height: 100%;
  margin: 0;
}

.input-unset {
  all: unset;
  padding-left: 20px;
}

button{
  &:disabled {
    background: grey;
    cursor: auto;
  }
}
